<?xml version="1.0"?>
<ruleset name="LezWatch.TV Coding Standards">
    <description>A custom ruleset to take in account both WordPress and Lesbian standards.</description>
    <rule ref="WordPress-Extra">
        <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
    </rule>
</ruleset>
